.formulario {
  color: rgba(192, 25, 128, 0.856);
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  font-style: oblique;
  letter-spacing: 10px;
  text-align: center;
  display: block;
  border: 2px solid rgb(138, 5, 109);
}

li {
  list-style: none;
}

.principal {
  display: inline;
}
