/* header {
  background: linear-gradient(to bottom, rgb(73, 14, 14), rgb(252, 18, 69));
  padding: 50px;
  text-align: center;
}
/* Inicio del menu desplegable */
/*.menu-one {
  list-style: none;
  font-size: 0; /* truco por el uso de inline-block}*/
/*
.menu-item {
  display: inline-block;
  position: relative;
  font-size: 14px;
}

.menu-one {
  position: absolute;
  display: none;
}
.menu-one .menu-item {
  display: block;
  text-align: left;
}
.menu .Item-producto:hover .menu-one {
  display: block;}/*
/* Fin del menu desplegable */

/* Estilos del menu */
/*
.menu-one {
  color: rgb(156, 16, 16);
  background-color: rgb(204, 18, 58);
  position: absolute;
  left: 280px;
  padding: 40px;
  z-index: 1;
}

.menu-item {
  text-decoration: none;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(156, 16, 16);
}
/* Fin estilos del menu */
/*
.styleLink {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.288);
  font-size: 27px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  font-style: italic;
  letter-spacing: 12px;
  text-align: center;
  text-transform: uppercase;
  border: 2px dotted;
}

.styleLink:hover {
  color: rgb(156, 16, 16);
  background-color: rgb(202, 60, 138);
}*/
