/* .logo {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-logo {
  display: flex;
  justify-content: center;
  transition: all 3s;
}
.section-logo:hover {
  transform: skew(20deg);
}
 */